body{
    background-color: lightslategray;
}
.title{
    text-align: center;
    color:cornflowerblue;
    background-color: darkslategrey;
    border: 5px dotted beige;
}
.subtitle{
    text-align: center;
    color:cornflowerblue;
    background-color: darkslategrey;
    padding: 15px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 8%;
}
#container{
    display: flex;
    align-items:flex-start;
    width: 100%;
}
#caja p{
    display: flex;
    justify-content: center;
    width: 300px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 2%;
    text-align: center;
    
}
#caja1 p{
    display: flex;
    justify-content: center;
    width: 300px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 2%;
    text-align: center;
}