body{
    
    background-color:cadetblue;
}
#title{
    text-align: right;
}
#redtitle{
    font-family: "Comics Sans MS", "Comic Sans", cursive;
    color: red;
}
.h2title{
    font: small-caps 100%/200% serif;
}
#redp{
    color: red;

}
#orangep{
    color: orange;

}
#greenp{
    color: green;
    background-color: white;
    font-style: italic;
}
.tabulacion:first-letter {
	margin-left: 30px;
}
#piepagina{
    text-align: center;
    font-style: italic;
}
